@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-black.bg-opacity-90 {
    background-color: rgba(0, 0, 0, 0.9);
}

.bg-white {
    background-color: white;
}
.background-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    background-image: url('/public/business_woman.jpeg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.background-overlay {
    position: relative;
    z-index: 0;
}

.overlay-content {
    position: relative;
    z-index: 1;
}

.service-block {
    max-width: 360px;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (max-width: 800px) {
    .service-block {
        width: 100%;
    }
}

/* Navbar.css */

@media (max-width: 768px) {
    .space-x-16 > *:not(:last-child) {
        margin-right: 1rem;
    }

    .md\\:flex {
        display: flex !important;
    }

    .md\\:hidden {
        display: none !important;
    }

    .hidden {
        display: none;
    }

    .block {
        display: block;
    }

    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .links-container {
        width: 100%;
    }

    .links {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .hire-button-link {
        align-self: center;
    }
}

/* Additional Styles for Dropdown */
.absolute {
    position: absolute;
}

.top-16 {
    top: 4rem;
}

.right-0 {
    right: 0;
}

.mt-2 {
    margin-top: 0.5rem;
}

.w-48 {
    width: 12rem;
}

.bg-white {
    background-color: white;
}

.border {
    border-width: 1px;
}

.border-gray-200 {
    border-color: #e5e7eb;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.block {
    display: block;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.text-gray-800 {
    color: #1f2937;
}

.hover\\:bg-gray-200:hover {
    background-color: #e5e7eb;
}
